$side-basis: 12.5%;
$active-blue: #5f6ec8;
;
@mixin vertical-line {
    position: absolute;
    top: 20%;
    right: 0;
    content: '';
    height: 60%;
    width: 1px;
    display: block;
    background: #e2e9ef;
}

.page-nav {
    background: #fff;
    height: 4em;
    .logo {
        position: relative;
        display: flex;
        padding: 1.35em 2.5em;
        flex-basis: 6.5%;
        img {
            transform: scale(1.1);
        }
        &::after {
            @include vertical-line;
        }
    }
    .center-control {
        position: relative;
        flex-basis: calc(100% - 6.5% - 6.5em);
        align-items: center;
        padding: 0 2.5em;
        &::after {
            @include vertical-line;
        }
        .title {
            cursor: pointer;
            img {
                margin-right: .5em;
            }
        }
    }
    .logout {
        flex-basis: 6.5em;
        img {
            margin-right: .5em;
        }
        .button {
            font-weight: 400;
        }
    }
}

.form-nav {
    background: #f4f6f8;
    height: 3.5em;
    .steps {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-basis: $side-basis;
        &::after {
            @include vertical-line;
        }
        .button {
            padding: 1.25em 1.5em;
            // flex-basis: 50%;
            // font-size: .9em;
            flex-basis: 50%;
            font-size: .9em;
            // display: flex;
            &:not(.active) {
                font-weight: 400;
                color: $active-blue;
            }
        }
    }
    .form-actions {
        position: relative;
        flex-basis: calc(100% - #{$side-basis} - 8em);
        &::after {
            @include vertical-line;
        }
        .button {
            margin: .25em;
            padding: .5em 2.5em;
            font-size: .85em;
            border-radius: 5px;
            border: 1px solid black;
            &.active {
                border-color: $active-blue;
            }
        }
        &::before {
            content: "";
            width: 8em;
            visibility: hidden;
            margin-left: auto;
        }
        .history-nav {
            width: 8em;
            margin-left: auto;
            padding: .5em;
            justify-content: flex-end;
            .button {
                border: none;
                padding: 0 .5em 0 0;
            }
            padding: .5em;
        }
    }
    .delete-element {
        flex-basis: 10em;
        img {
            margin-right: .5em;
        }
        .button {
            padding: 0;
            font-size: .9em;
        }
    }
}

.body {
    height: calc(100vh - 4em - 3.5em);
    .side-nav {
        background: #fff;
        flex-basis: $side-basis;
        min-width: 15em;
        .layout-list {
            border-bottom: 1px solid #cccccc;
            display: flex;
            justify-content: center;
            .button {
                padding: 1em 1.5em;
            }
        }
        .design-list {
            padding-top: 1em;
            align-items: start;
            height: 100%;
            .button {
                height: 2.75em;
                padding: 0 2em;
                margin-top: .5em;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                border: 4px solid transparent;
                &:not(:last-of-type):hover {
                    .button-text::after {
                        border-color: $active-blue;
                    }
                    color: $active-blue;
                }
                &.active:not(:last-of-type) {
                    background: #f7f7f7;
                    color: $active-blue;
                    border-left-color: $active-blue;
                    .mask-icon {
                        background: $active-blue;
                    }
                }
                img {
                    margin-right: 1em
                }
                &:last-of-type {
                    margin-top: auto;
                    width: 100%;
                    background-color: $active-blue;
                    border-radius: 0;
                    justify-content: center;
                    // font-weight: 400;
                }
            }
        }
    }
    .form-preview {
        background: #9b9b9b;
        flex-basis: calc(100% - 15em);
    }
}